{% extends 'base.html' %}
{% block content %}
{% load static %}
<center>


<div class="row">

<div class="col-sm-4"  >
    <div class="card" >
    <img style="width:100%;" class="card-img-top" src = {% static "image/aomsineiei.jpg" %}>
        <div class="card-body">
            <h5 class="card-title">ธนกมล อินทรสุริยวงศ์</h5>
             <p class="card-text">Full-Stack Developer</p>
             <p class="card-text">60030031</p>
        </div>
    </div>
</div>
<div class="col-sm-4"  >
    <div class="card" >
    <img style="width:100%;" class="card-img-top" src = {% static "image/aomsineiei.jpg" %}>
        <div class="card-body">
            <h5 class="card-title">ศรัณย์ โชคดุรงค์</h5>
             <p class="card-text">Assistant Developer</p>
             <p class="card-text">60030089</p>
        </div>
    </div>
</div>
<div class="col-sm-4"  >
    <div class="card" >
    <img style="width:100%;" class="card-img-top" src = {% static "image/aomsineiei.jpg" %}>
        <div class="card-body">
            <h5 class="card-title">สิทธินนท์ ตติยะจินดา</h5>
             <p class="card-text">Assistant Developer</p>
             <p class="card-text">60030098</p>
        </div>
    </div>
</div>

</div>
</center>
{% endblock %}