{% extends 'base.html' %}
{% block content %}
{% if exam and quiz %} 
  <div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
      <h3 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>เรื่อง</span>
          <a class="d-flex align-items-center text-muted" href="#">
            <span data-feather="plus-circle"></span>
          </a>
        </h3>
        <ul class="nav flex-column">
          
          <li class="nav-item">
            <a class="nav-link" href="{% url 'coursedetail' exam.course.id %}">
              <span data-feather="file"></span>
              บทเรียน
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'exam' exam.id %}">
              <span data-feather="shopping-cart"></span>
              ข้อสอบ
            </a>
          </li>
         
      </div>
</nav>
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Exam</h1>
      </div>
      <div>
      {{exam.name}}
      <br>
      {{exam.detail}}
      <p></p>
      <form action="{% url 'checkAnswer' %}" method="POST">
      {% csrf_token %}
      {% for key,value in q.items %}
        {{ key }}
        <br>
        {% for ch in value %}
          <input type="radio" name = "{{ key }}" value="{{ ch.corrected }}"> {{ ch }}
          <br>
        {% endfor %}
        <p></p>
      {% endfor %}
     
      <input type="submit" class="btn btn-lg btn-dark" value="ส่ง">
      </form>
      <p></p>
      </div>
{% endif %}
{% endblock %}